{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/no-extraneous-dependencies": "off",
    "react/require-default-props": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "no-unused-vars": "warn",
    "react/jsx-props-no-spreading": "warn",
    "no-underscore-dangle": "off"

  }

}