.Button {
  cursor: pointer;
  color: var(--inverted-primary-color);
  padding: 8px 16px;
  background: none;
  border: 1px solid var(--inverted-primary-color);
}

.clear {
  border: none;
  outline: none;
}

.outlined {
  border-radius: 6px;
}
