.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.4s, background 0.7s;
  display: flex;
  flex-direction: column;
}

.switchers {
  position: absolute;
  bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  right: -28px;
  bottom: 30px;
}

.items {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.link {
  transition: opacity 0.3s;
  white-space: nowrap;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    opacity: 0;
    width: 0;
  }
}
